<extend name="Public/base" />
<block name="right"></block>
<block name="center">
<div class="con-center">
<!--搜索列表 start-->
<div class="ad-block">
{:getModulePosCode('css_baidu')}
</div>
	<div class="formatcss">

<h2>样式表(CSS) 格式整理与压缩</h2>
<textarea name="" rows="" cols="" id="codeText">body * { font-size:10pt; }/* ss sda   */
p
{ clear:left; padding:5px 10px;
}
td
,
fieldset
{	padding			 		 : 	 10px 	 ;	 }
textarea {
	 width:90%;
	 height:10em;
 }
	</textarea>
<a  class="btn btn-default" onclick="$sel('codeText').value=code.A();">压缩代码</a>
<a  class="btn btn-default" onclick="$sel('codeText').value=code.B();">格式(多行)</a>
<a  class="btn btn-default" onclick="$sel('codeText').value=code.C();">格式(单行)</a>
<a  class="btn btn-default" onclick="$sel('codeText').value=code.Z();">还原代码</a>
<a  class="btn btn-default" onclick="$sel('codeText').value=code.D();">删除注释</a>

<script type="text/javascript">
var  yasuocss={

};
function $sel(id){return document.getElementById(id);}

function codeZip(obj){
	this.S=function(){
		var code=obj.value;
		if(!this.codeZ||this.codeZ=="")this.codeZ=code;
		code=code.replace(/(\n|\t|\s)*/ig,'$1');
		code=code.replace(/\n|\t|\s(\{|}|\,|\:|\;)/ig,'$1');
		code=code.replace(/(\{|}|\,|\:|\;)\s/ig,'$1');
		return code;
	}
	this.A=function(){
		var code=this.S();
		return code;
	}
	this.B=function(){
		var code=this.S();
		//code=code.replace(/(\{)/ig,'$1');
		code=code.replace(/({|;)/ig,'$1\n\t');
		code=code.replace(/t*(})/ig,'$1\n');
		code=code.replace(/(\*\/)/ig,'$1\n');
		return code;
	}
	this.C=function(){
		var code=this.S();
		code=code.replace(/(\})/ig,'$1\n');
		code=code.replace(/(\*\/)/ig,'$1\n');
		return code;
	}
	this.Z=function(){
		return (this.codeZ)?this.codeZ:obj.value;
	}
	this.D=function(){
		var code=obj.value;
		code=code.replace(/(\/\*.*?\*\/\n?)/ig,'');
		return code;
	}
	var my=this;
	obj.onkeydown=function(){
		my.codeZ="";
	}
}
var code=new codeZip($sel('codeText'));
window.onload=function(){
	window.ycode=$sel('codeText').value;
	$sel('codeText').onmousedown=function(){
		if(this.value===ycode){
			this.value='';
			}
		};
	};
</script>
</div>
	</div>
</div>
</block>