<div class="notepad-content">
    <form action="{:url('Notepad/saveNotepad')}" method="post">
        <div class="textarea-wrap">
            <textarea name="content" id="notepad_con" cols="30" rows="10">{$info.content}</textarea>
        </div>
        <input name="notepad_id" value="{$info.notepad_id}" type="hidden" />
        <div class="center">
            {empty name="info.notepad_id"}
            <a href="javascript:;" class="btn" onclick="notepad.saveNotepad(this);">添加</a> {else /}
            <a href="javascript:;" class="btn" onclick="notepad.saveNotepad(this);">保存</a> {/empty}
        </div>
    </form>
</div>
