<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{:config('admin_title')}_后台登录</title>
    <meta name="keywords" content="{:config('admin_title')}_后台登录" />
    <meta name="description" content="{:config('admin_title')}_后台登录" />
    {insert name="reset,common,font-awesome.min,login"}
    {insert name="jquery-1.9.1.min" type="js" /}

</head>

<body>
    <div id="login-form" class="login form-group-h">
        <div class="login-title center">
            <i class="fa fa-home"></i><span>{:config('admin_title')}管理平台</span>
        </div>
        <form action="{:url('Pub/login')}" method="post">
            <div class="form-group input-div cl">
                <div class="form-label"><i title="用户名" class="fa fa-user"></i><b class="form-title">用户名</b></div>
                <div class="form-area">
                    <div class="form-wrap">
                        <input type="text" class="form-control" placeholder="请输入用户名" name="username" value="">
                    </div>
                </div>
            </div>
            <div class="form-group input-div cl">
                <div class="form-label"><i title="密码" class="fa fa-unlock"></i><b class="form-title">密 码</b></div>
                <div class="form-area">
                    <div class="form-wrap">
                        <input type="password" class="form-control" placeholder="请输入密码" name="password" value="">
                    </div>
                </div>
            </div>
            <div id="verify-wrap" class="form-group input-div cl" style="display:none;">
                <div class="form-label"><i title="验证码" class="fa fa-key"></i><b class="form-title">验证码</b></div>
                <div class="form-area">
                    <div class="form-wrap">
                        <input type="text" class="form-control" placeholder="请输入验证码" name="verify" value="">
                    </div>
                </div>
            </div>
            <div id="verify-image" class="form-group center cl" style="display:none;background:#fff;">
                <a href="javascript:;" id="verifyimg">
                    {:get_verify()}
                </a>
            </div>
            <div class="form-group input-div cl">
                <div class="form-label"><i title="密码" class="fa fa-unlock"></i><b class="form-title">密 码</b></div>
                <div class="form-area center">
                       <select name="remember" id="remember" class="form-control">
                           <option value="1">记录1小时</option>
                           <option value="2">记录一天</option>
                           <option value="3">记录一周</option>
                           <option value="4">记录一月</option>
                       </select>
                </div>
            </div>
            <div class="form-group center cl">
                <a id="loginbtn" href="javascript:;" onclick="ank.ajaxForm(this);" id="loginbtn" class="btn btn-large">登录</a>
            </div>
        </form>
    </div>
<script type="text/javascript">
    $(function(){
    //回车自动提交
    $('#login-form input').keyup(function(event){
        if(event.keyCode===13){
            //回车后要处理的数据
            $('#loginbtn').click();
        }
    });
    });
</script>
<style type="text/css">
    #world{z-index: -1;position: absolute;}
</style>
<canvas id="world" style="width:100%;height:100%;" ></canvas>
{insert name="line,ank" type="js" /}
{layer /}
</body>

</html>
