<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>管理后台</title>
<meta name="keywords" content="管理后台" />
<meta name="description" content="管理后台" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/reset.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/font-awesome.min.css" />
<script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/ank.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
</head>
<body>
	<!-- 页头 -->
	<div class="header">
		<div class="header-inner"></div>
	</div>
	<!-- 正文 -->
	<div class="container"></div>
	<!-- 页脚 -->
	<div class="footer">
		<div class="footer-inner"></div>
	</div>
</body>
</html>
