	<dl class="arc-list">
		<dt class="arc-m-title"> <h2><i class="fa fa-envira"></i><empty name="title">{$category.title}<else />{$title}</empty> <a target="_blank" href="{:U('cat/'.$category['name'])}" class="more">更多>></a></h2></dt>
		<volist name="_list" id="vo">
		<dd class="arc-item"><a  target="_blank"  class="el" href="{:U('article/'.$vo['article_id'])}"><i class="fa fa-mail-forward"></i>{$vo.title}</a><span class="datetime">{$vo.update_time|date='Y/m/d',###}</span></dd>
		</volist>
	</dl>