{extend name="pub/base-iframe" /} {block name="center"}
<div class="iframe-con">
    <!--主标题-->
    {include file="pub/main-title" /}
	<div class="form-block">
	    <form class="autosubmit" action="{:url('')}" method="post">
	        {:get_form_str($model,$data)}
	        <div class="form-group cl center">
	            <a href="javascript:;" onclick="ank.ajaxForm(this);" class="btn btn-large">
	            {empty name="data"}确定提交{else /}<input type="hidden" name="{$id.name}" value="{$id.value}" />确认更新{/empty}
	            </a>
	        </div>
	    </form>
	</div>
</div>
{/block}
