@charset 'utf-8';
/****手机端表单样式**/
.m-form{margin: 10px 0px;}
.m-form-group{border: solid 1px #ededed;padding: 0px 5px;     margin: 0px 10px 10px 10px;}
select.m-form-control{height: 36px;padding: 0px;}
.m-form-control{width: 100%; display: block; padding: 3px 0px; height: 30px; border: solid 1px #ededed;background: #fff;}
.m-form-group .m-form-control{border: none;}

.m-btn,
.m-btn:link,
.m-btn:active,
.m-btn:hover,
.m-btn:visited{padding: 5px 20px; font-size: 14px; background: #6BC168; color: #fff;display: inline-block;border-radius: 5px;}
/**************************/