@charset 'utf-8';
body , dl , dt , dd , ul , ol , li , h1 , h2 , h3 , h4 , h5 , h6 , pre , code , form , fieldset , legend , input , button , textarea , p , blockquote , th , td {
    font-family:Microsoft Yahei,Arial;
    font-size:12px;

    margin:0;
    padding:0;

    list-style:none;
}
fieldset , img {
    border:0;

    -webkit-font-smoothing:antialiased;
}
img {
    vertical-align:top;
}
table {
    border-spacing:0;
    border-collapse:collapse;
}
.clie8 , .cl:after {
    font-size:0;

    display:block;
    visibility:hidden;
    clear:both;

    height:0;

    content:'';
}
* html .cl {
    zoom:1;
}
a {
    -webkit-transition:all .3s;
       -moz-transition:all .3s;
         -o-transition:all .3s;
            transition:all .3s;
    text-decoration:none;

    color:#333;
}
a:hover {
    color:#000;
}

/****谷歌黄色背景问题***/

/*input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,input:hover,textarea:hover,select:hover{
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px white inset!important;
}*/

/*********************************表单样式***********************************/
.form-wrap {
    display:inline-block;

    padding:0px 10px;

    transition:all .3s;

    border:solid 1px #EDEDED;
    border-radius:5px;
    background:#FFF;
    box-shadow:1px 2px 2px #F3F3F3;
}
.form-wrap:hover , .form-wrap:focus {
    border-color:#D6D6D6;
    box-shadow:1px 2px 10px #F3F3F3;
}
.form-wrap .form-control {
    line-height:30px;

    height:30px;
    padding:0px;

    border:none;
}
.form-wrap .form-control:hover , .form-wrap .form-control:focus {
    outline:0;
    -webkit-box-shadow:none;
            box-shadow:none;
}
.form-group {
    margin-bottom:10px;
}
.form-label {
    font-size:12px;
    font-weight:bolder;
    line-height:30px;

    display:block;

    height:30px;
    padding:0px;

    color:#666;
    background:#FFF;
}

.form-control {
    font-size:12px;
    line-height:1.428571429;

    display:block;

    width:100%;
    height:24px;
    padding:3px 5px;

    -webkit-transition:all .3s;
       -moz-transition:all .3s;
         -o-transition:all .3s;
            transition:all .3s;
    vertical-align:middle;

    border-radius:4px;
    background-image:none;
}
select.form-control {
    display:inline-block;

    width:auto;
    height:30px;
    padding:0px 10px;

    vertical-align:middle;

    outline:none;
}
option {
    outline:none;
}
.form-group textarea.form-control {
    line-height:20px!important;

    display:block;

    height:100px;
}
.form-group select.form-control {
    display:inline-block;

    width:auto;
    height:30px;

    box-shadow:1px 2px 2px #F3F3F3;
}
.controls input {
    display:inline-block;

    margin:5px 5px 5px 10px;

    vertical-align:top;
}
.form-tip {
    display:inline-block;

    margin:0px 5px;

    color:#AAA;
}
.form-group-h .form-area , .form-group-h .form-controls , .form-group-h .form-control , .form-group-h .form-label {
    display:inline-block;
}
.form-group-h .form-label {
    position:relative;

    text-align:left;
}
.form-group-h .form-group .controls {
    display:inline-block;
}
.form-group-h .form-group .form-label:hover .form-tip {
    display:block;
}
.form-group-h .form-label .form-tip {
    position:absolute;
    z-index:9999999;
    bottom:50px;
    left:50px;

    display:none;

    width:200px;
    padding:10px;

    text-align:left;
    word-break:break-all;

    color:#111;
    border:solid 1px #EDEDED;
    background:#EDEDED;
    box-shadow:2px 2px 8px #CCC;
}
.form-group-h .form-label .form-tip:before {
    position:absolute;
    bottom:-20px;
    left:20px;

    width:0;
    height:0;

    content:'';

    border-style:solid;
    border-top:20px solid #EDEDED;
    border-right:20px solid transparent;
    border-bottom:0px;
    border-left:20px solid transparent;
}
.form-h .form-group {
    display:inline-block;

    vertical-align:top;
}
.form-tip-hidden .form-label span {
    display:none!important;
}

/***表单长度***/
.input-large {
    width:400px;
}
.input-middle {
    width:250px;
}
.input-small {
    width:150px;
}
.input-mini {
    width:50px;

    text-align:center;
}

/**表单颜色***/
.form-control {
    transition:all .3s;

    color:#555;
    border:1px solid #E6E6E6;
    outline:none;
    background-color:#FFF;
}
.form-control:hover {
    border-color:#DFDFDF;
}
.form-control:focus {
    border-color:#EDEDED;
}

/**去掉谷歌表单中的黄背景**/
input:-webkit-autofill , textarea:-webkit-autofill , select:-webkit-autofill {
    -webkit-box-shadow:0 0 0px 1000px white inset!important;
}

/**表单外包括元素**/
.form-group .input-wrap {
    display:block;

    padding:0px 5px;

    border:solid 1px #EDEDED;
    border-radius:5px;
}
.form-group .input-wrap .form-control {
    margin:0px;
    padding:5px 0px;

    border:none;
    outline:none;
    box-shadow:none;
}
.form-group-h .input-wrap {
    display:inline-block;
}

/*********************************按钮样式***********************************/
.btn {
    font-size:12px;
    font-weight:normal;
    line-height:1.428571429;

    display:inline-block;

    margin-bottom:0;
    margin-left:1px;
    padding:5px 10px;

    cursor:pointer;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
    -webkit-transition:all .3s;
       -moz-transition:all .3s;
         -o-transition:all .3s;
            transition:all .3s;
    text-align:center;
    vertical-align:middle;
    white-space:nowrap;
    text-decoration:none;
    letter-spacing:0px;

    color:#FFF;
    border:solid 1px transparent;
    border-radius:4px;
    background-image:none;

         -o-user-select:none;
}

/*******按钮大小******/
.btn-large {
    padding:5px 30px;
}

/****按钮颜色*****/
.btn {
    background:#5CB85C;
}
.btn:hover {
    color:#FFF;
    background-color:#80CA80;
}
.btn-warning {
    background:#ED9C28;
}
.btn-warning:hover {
    background:#F7AE45;
}
.btn-success {
    background:#4BBD00;
}
.btn-success:hover {
    background:#83EF3B;
}
.btn-danger {
    background:#D2322D;
}
.btn-danger:hover {
    background:#D85A56;
}
.down-btn {
    position:relative;

    border:none;
    border-radius:0px;
}
.down-btn .btn {
    margin:0px;

    border:none;
    border-radius:0px;
}
.down-btn .fa {
    width:10px;
    margin-left:5px;

    -webkit-transition:all .3s;
       -moz-transition:all .3s;
         -o-transition:all .3s;
            transition:all .3s;

    color:#FFF;
}
.down-btn .fa:before {
    content:'\f054';
}
.down-btn:hover .fa:before {
    content:'\f078';
}
.down-btn ul {
    position:absolute;
    z-index:1;
    top:100%;
    left:0px;

    display:none;

    width:100%;
}
.down-btn:hover ul , .down-btn:hover ul a {
    display:block;
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius:6px;
       -moz-border-radius:6px;
            border-radius:6px;
    background:rgba(0,0,0,.3);
    background-color:#018EE8;

        -ms-border-radius:6px;
         -o-border-radius:6px;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
    height:50px;

    -webkit-border-radius:4px;
    background:rgba(0,0,0,.5);
}

/*---滚动条大小--*/
::-webkit-scrollbar {
    width:8px;
    height:8px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
    -webkit-border-radius:0;
    background-color:#FFF;
}