{extend name="pub/base-iframe" /} {block name="center"}
<div class="iframe-con">
    <!--主标题-->
    {include file="pub/main-title" /}
    <!--按钮和搜索区域-->
    <div class="tool-area cl">
        <div class="btn-tool">
            <a href="{:url('sys.user/add')}" class="btn">添加用户</a>
            <a href="{:url('sys.user/recycle')}" class="btn">回收站</a>
        </div>
    </div>
    <table width="100%">
        <tr class="th">
            <th class="td-id">Id</th>
            <th>用户名</th>
            <th>昵称</th>
            <th class="td-time">用户组</th>
            <th>登陆时间</th>
            <th>登陆次数</th>
            <th>最后登陆ip</th>
            <th class="td-status">状态</th>
            <th>操作</th>
        </tr>
        {volist name="_list" id="vo"}
        <tr>
            <td>{$vo.user_id}</td>
            <td class="td-left">{$vo.username}</td>
            <td class="td-left">{$vo.nickname}</td>
            <td>{$vo.user_group_id}</td>
            <td>{$vo.update_time|time_format}</td>
            <td>{$vo.login}</td>
            <td>{$vo.last_login_ip}</td>
            <td>
<span title="{$vo.status|get_status}" data-table="User" data-id="{$vo.user_id}" data-field="status" data-value="{$vo.status}" class="fa yesno"></span>

            </td>
            <td class="td-btn">
            <a onclick="am.updatePwd(this,'{:url('sys.user/updatePwd',['user_id'=>$vo['user_id']])}');" class="btn">修改密码</a>
            <a href="{:url('sys.user/edit',['user_id'=>$vo['user_id']])}" class="btn">编辑</a>
            <a href="javascript:;" data-url="{:url('sys.user/del',['user_id'=>$vo['user_id']])}" onclick="am.okAction(this);" class="btn btn-warning">移到回收站</a>
            </td>
        </tr>
        {/volist}
    </table>
    <div class="page">{$_page}</div>
</div>
{/block}
