{extend name="pub/base" /} {block name="center"}
<div class="iframe-con">
    <!--主标题-->
    {include file="pub/main-title" /}
    <!--按钮和搜索区域-->
    <div class="tool-area cl">
        <div class="btn-tool">
        </div>
    </div>
    <form class="autosubmit" action="{:url('qconnect/set')}" method="post">
        {:get_form_str($formarr,$data)}
        <div class="form-group cl center">
            <a href="javascript:;" onclick="ank.ajaxForm(this);" class="btn btn-large">
确定保存<input type="hidden" name="name" value="qconnect" />
</a>
        </div>
    </form>
</div>
{/block}
