body{font-size:12px;}
#admin-header{position:fixed;width:100%;height:50px;left:0px;top:0px;box-shadow:2px 3px 20px #ccc;}
#admin-left{position:fixed;width:176px;height:100%;left:0px;top:54px;overflow:hidden;overflow-y:auto;}
#admin-right{margin:54px 0px 0px 176px;height:100%;}
#closeicon{display:inline-block;background:url('../images/icon_arrow.png')  no-repeat 0 0!important;width:17px;height:61px;position:fixed;top:50%;left:176px;margin-top:-30px;cursor:pointer;z-index:9999;}
#closeicon:hover{background-position:right 0!important;}
#closeicon.open{background-position:0 -61px!important;}
#closeicon.open:hover{background-position:right -61px!important;}

/**
 * chrometab样式
 */
.chrome-tab{padding:0px 30px;float:left;cursor:pointer;margin-top:5px;background:url('../images/tabbg.png') no-repeat!important;color:#000!important;height:26px;line-height:26px;position:relative;}
.chrome-tab:hover,.chrome-tab.hover{background-position:0 -120px!important;}
.chrome-tab:hover em,.chrome-tab.hover em{z-index:99;background-position:right -150px!important;}
.chrome-tab:hover .close:before,.chrome-tab.hover  .close:before{color:#f00!important;background:transparent!important;}
.chrome-tab em{background-image:url('../images/tabbg.png');background-position:right -30px;position:absolute;right:-16px;height:26px;width:16px;top:0px;}
.chrome-tab .close{position:absolute;right:4px;top:7px;color:#ccc;}

/**
 * tab框架样式
 */
#div-block,#div-block .kl-tab-div,#div-block iframe{height:100%;}

/**
 * 头部样式
 * @type {[type]}
 */
.touxiang img{background:#fff;border-radius:25px;overflow:hidden;width:40px;height:40px;padding:3px;border:solid 1px #D8D8D8;margin:1px 5px;}

/**
 * 左侧菜单
 */
.menu a{display:block;height:40px;line-height:40px;border-bottom:solid 1px #ededed;padding-left:30px;}
.menu .menu-title{position:relative;}
.menu .menu-title i{position:absolute;left:8px;top:12px;font-size:16px;}
.menu .menu-title .menu-open:before{content:"\f115";}
.menu .menu-title .menu-close:before{content:"\f114";}
.menu .menu-title a{background:#f8f8f8;font-weight:bolder;}
.menu .menu-title a:hover,.menu a:hover{background:#ededed;}
.menu a.hover{background:#324b5e;color:#fff;}
.menu .menu-item{display:none;}

/**
 * 框架内样式
 */
.iframe-con{padding:0px 10px;}
.iframe-con table{border-collapse:collapse;border:none;}
.iframe-con table tr:hover{background:#ededed;}
.iframe-con table th,.iframe-con table td{padding:0px 5px;height:30px;text-align:center;border:solid 1px #ededed;white-space:nowrap;}
.iframe-con .td-left,.iframe-con .td-btn{text-align:left;}

/**
 * 主标题
 */
.iframe-con .main-title i{font-size:18px;}
.iframe-con .main-title span{display:inline-block;height:30px;line-height:30px;font-size:14px;cursor: pointer;}
.iframe-con .main-title b{font-size:16px;font-weight:bolder;}