<div class="" style="color:#000;">
Phpexcel使用方法
<pre>
导出excel使用方法
首先查询出要导出的列表数据
$list='从数据库中查询出数据';

然后定义excel中要使用的数据字段和字段对应的标题
$field="'diqu,goods_id,num,create_time";
$fieldtitle="市场,产品名字,数量,下单时间";

$arr=array($list,           //数据列表
          'shichang-tongji',//excel文件名
          array($field,$fieldtitle)
        );
//调用本扩展导出excel,返回值为boole
$resule=run_plugin_method('Phpexcel','export',$arr);


导入excel数据的方法
excel文件格式要求为跟数据库格式类似
第一行导入后会默认做为字段，真实的数据是从第二行开始的
格式为:
title   name    price
标题1   名字1   130
标题2   名字2   140

导入为的格式为:
array(
array('title'=>"标题1",'name'=>'名字1','price'=>'130'),
array('title'=>"标题2",'name'=>'名字1','price'=>'140'),
)
首先建立一个表单
< form action="{:UP('Phpexcel/importExcel')}" method="post">
< input type="file" name="excel">
< input type="submit" value="导入">
< /form>

导入示例
下载示例excel文件
<a target="_blank" href="/Plugins/Phpexcel/view/import.xls">import.xls</a>
<form id="formexcel" action="{:UP('Phpexcel/sample')}" method="post" enctype="multipart/form-data">
<input style="display:none;" id="excelbtn" type="file" name="excel" value="选择excel文件">
<div >
<a href="javascript:;" class="btn" onClick="document.getElementById('excelbtn').click();">选择文件</a><br>
<a href="javascript:;" style="display:inline-block;" class="btn" onClick="formexcel.submit();">导入</a>
</div>
</form>
</pre>
</div>