{extend name="pub/base-iframe" /} {block name="center"}
<div class="iframe-con">
    {:widget('sysinfo/sinfo')}
    <div class="widget">
        <div class="title">路径信息</div>
        <div class="con">
            <table>
                <tr>
                    <td>缓存路径</td>
                    <td>{$Think.const.DATA_DIR}</td>
                </tr>
                <tr>
                    <td>上传路径</td>
                    <td>{:config('file_upload.rootPath')}</td>
                </tr>
                <tr>
                    <td>运行缓存大小</td>
                    <td>{$runsize|default=0}</td>
                </tr>
                <tr>
                    <td>图片缓存大小</td>
                    <td>{$imagesize|default=0}</td>
                </tr>
                <tr>
                    <td>JSSCSS压缩缓存大小</td>
                    <td>{$jscsssize|default=0}</td>
                </tr>
                <tr>
                    <td>上传目录大小</td>
                    <td>{$uploadsize|default=0}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <a data-url="{:url('index')}" onclick="am.ajaxHref(this);" class="btn" href="javascript:;" id="checksize">重新查询</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="widget">
        <div class="title">关于我们</div>
        <div class="con">
            <table>
                <tr>
                    <td>版本</td>
                    <td>v{:config('version')}</td>
                </tr>
                <tr>
                    <td>总策划/设计</td>
                    <td>赵克立</td>
                </tr>
                <tr>
                    <td>官网网址</td>
                    <td><a target="_blank" href="http://www.59vip.cn">www.59vip.cn</a></td>
                </tr>
                <tr>
                    <td>技术QQ群</td>
                    <td>
                        <a target="_blank" href="http://jq.qq.com/?_wv=1027&k=efwc9K"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="技术交流" title="技术交流"></a>
                    </td>
                </tr>
                <tr>
                    <td>QQ</td>
                    <td>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=735579768&site=qq&menu=yes"><img src="__IMG__/q_1.gif" border="0" alt="点击咨询" title="点击咨询"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{/block}
