{volist name="_list" id="vo"}
<dl class="c-item cl">
    <dt class="cl">
        <div class="c-inp c-ico"><i onclick="catetree.menuClick(this);" class="fa"></i></div>
        <div class="c-inp c-id">{$vo.single_id}</div>
        <div class="c-inp c-paixu">
            <input data-table="Nav" data-id="{$vo.single_id}" data-field="sort"  type="text" class="form-control input-mini  ajax-blur" value="{$vo.sort}" />
        </div>
        <div class="c-inp c-show">
            <span title="{$vo.status|get_status}" data-table="Nav" data-id="{$vo.single_id}" data-field="status" data-value="{$vo.status}" class="fa yesno"></span>
        </div>
        <div class="c-inp c-title">
            <span class="c-sign"></span>
            <a href="{:url('com.single/add',['pid'=>$vo['single_id']])}"><i class="fa fa-plus-square"></i></a>
            <div class="text-field">
                <span class="text-title">标题:</span>
                <input data-table="Nav" data-id="{$vo.single_id}" data-field="title"  type="text" class="form-control ajax-blur" value="{$vo.title}" />
            </div>
            <div class="text-field">
                <span class="text-title">标识:</span>
                <input data-table="Nav" data-id="{$vo.single_id}" data-field="name"  type="text" class="form-control ajax-blur" value="{$vo.name}" />
            </div>
        </div>
        <div class="c-inp c-action">
        <!--authstart-->
            <a href="{:url('com.single/edit',['single_id'=>$vo['single_id']])}" class="btn">编辑</a>
        <!--authend-->
        <!--authstart-->
            <a href="javascript:;" data-url="{:url('com.single/delete',['single_id'=>$vo['single_id']])}" onclick="am.okAction(this);" class="btn btn-warning">删除</a>
        <!--authend-->
        </div>
    </dt>
    {notempty name="vo.child"}
    <dd class="c-sub-item">
        {:controller('com.single','controller')->tree($vo['single_id'])}
    </dd>
    {/notempty}
</dl>
{/volist}