<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>页面找不到喽-404</title>
    <link rel="stylesheet" media="screen" href="__STATIC__/static/css/404.css" type="text/css" />
</head>

<body>
    <div class="err-404">
        <div class="objects">
            <!-- text area -->
            <div class="text-area rotate">
                <p class="error">Error 404</p>
                <p class="details">There was a problem
                    <br />
                    <br />The page you are looking for is not here or moved.</p>
            </div>
            <!-- text area -->
            <!-- home page -->
            <div class="homepage rotate">
                <a href="#">Back to homepage</a>
            </div>
            <!-- home page -->
        </div>
        <!-- social-icons -->
        <div class="social">
            <ul class="social-icons">
                <li><a href="javascript:;" onclick="window.history.go(-1);">返回上一页</a></li>
            </ul>
        </div>
        <!-- social-icons -->
    </div>
</body>

</html>
