{extend name="pub/base-iframe" /} {block name="center"}
<div class="iframe-con">
    <!--主标题-->
    {include file="pub/main-title" /}
    <!--按钮和搜索区域-->
    <div class="tool-area cl">
        <div class="btn-tool">
            <a href="{:url('Menu/add')}" class="btn">添加菜单</a>
        </div>
    </div>
    <div id="cate-tree" class="cate-tree">
        <dl class="c-h-item cl">
            <dt class="cl">
                <div class="c-inp c-h-ico">折叠</div>
                <div class="c-inp c-h-id">ID</div>
                <div class="c-inp c-h-paixu">排序</div>
                <div class="c-inp c-h-title">标题</div>
                <div class="c-inp c-h-action">操作</div>
            </dt>
        </dl>
        {volist name="_list" id="vo"}
        <dl class="c-item cl">
            <dt class="cl">
                <div class="c-inp c-ico"><i onclick="catetree.menuClick(this);" class="fa"></i></div>
                <div class="c-inp c-id">{$vo.form_id}</div>
                <div class="c-inp c-paixu">
                    <input type="text" class="form-control" name="paixu" value="{$vo.sort}" />
                </div>
                <div class="c-inp c-title">
                    <span class="c-sign"></span>
                    <i class="fa fa-plus-square"></i>
                    <div class="text-field">
                        <span class="text-title">标题:</span>
                        <input type="text" class="form-control" name="title" value="{$vo.title}" />
                    </div>
                    <div class="text-field">
                        <span class="text-title">URL:</span>
                        <input type="text" class="form-control" value="{vo.url}" />
                    </div>
                </div>
                <div class="c-inp c-action">
                    <a href="javascript:;" class="btn">编辑</a>
                    <a href="javascript:;" class="btn btn-warning">删除</a>
                </div>
            </dt>
            <dd class="c-sub-item">
            </dd>
        </dl>
        {/volist}
    </div>
</div>
<script type="text/javascript">
$(function() {
    catetree.init();
});
</script>
{/block}
