{volist name="_list" id="vo"}
<dl class="c-item cl">
    <dt class="cl">
        <div class="c-inp c-ico"><i onclick="catetree.menuClick(this);" class="fa"></i></div>
        <div class="c-inp c-id">{$vo.menu_id}</div>
        <div class="c-inp c-paixu">
            <input type="text" class="form-control" name="paixu" value="{$vo.sort}" />
        </div>
        <div class="c-inp c-title">
            <span class="c-sign"></span>
            <a href="{:url('Menu/add',['pid'=>$vo['menu_id']])}"><i class="fa fa-plus-square"></i></a>
            <div class="text-field">
                <span class="text-title">标题:</span>
                <input type="text" class="form-control" name="title" value="{$vo.title}" />
            </div>
            <div class="text-field">
                <span class="text-title">URL:</span>
                <input type="text" class="form-control" value="{$vo.url}" />
            </div>
        </div>
        <div class="c-inp c-action">
            <a href="{:url('Menu/edit',['menu_id'=>$vo['menu_id']])}" class="btn">编辑</a>
            <a href="javascript:;" data-url="{:url('Menu/delete',['menu_id'=>$vo['menu_id']])}" onclick="am.okAction(this);" class="btn btn-warning">删除</a>
        </div>
    </dt>
    {notempty name="vo.child"}
    <dd class="c-sub-item">
        {:controller('Menu','controller')->tree($vo['menu_id'])}
    </dd>
    {/notempty}
</dl>
{/volist}