<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> {__ASSETS_CSS__}
    <title>标题</title>
    <meta name="keywords" content="关键字" />
    <meta name="description" content="描述" />
</head>

<body>
    <div class="bjbox">
        <div class="title">系统信息</div>
        <div class="con">
            <table>
                <tr>
                    <td>服务器操作系统</td>
                    <td>{$Think.const.PHP_OS}</td>
                </tr>
                <tr>
                    <td>运行环境</td>
                    <td>{$_SERVER['SERVER_SOFTWARE']}</td>
                </tr>
                <tr>
                    <td>PHP版本</td>
                    <td>{:phpversion()}</td>
                </tr>
                <tr>
                    <td>MYSQL版本</td>
                    <td>{php} $system_info_mysql = \think\Db::query("select version() as v;"); echo $system_info_mysql[0]['v']; {/php}
                    </td>
                </tr>
                <tr>
                    <td>上传限制</td>
                    <td>{:ini_get('upload_max_filesize')}</td>
                </tr>
            </table>
        </div>
    </div>
    {__ASSETS_JS__}
</body>

</html>
