{extend name="pub/base-iframe" /} {block name="center"}
<div class="iframe-con">
    <!--主标题-->
    {include file="pub/main-title" /}
    <!--按钮和搜索区域-->
    <div class="tool-area cl">
        <div class="btn-tool">
            <a href="{:url('Form/add')}" class="btn">添加表单</a>
        </div>
    </div>
    <div id="cate-tree" class="cate-tree">
        <dl class="c-h-item cl">
            <dt class="cl">
                <div class="c-inp c-h-ico">折叠</div>
                <div class="c-inp c-h-id">ID</div>
                <div class="c-inp c-h-paixu">排序</div>
                <div class="c-inp c-h-title">标题</div>
                <div class="c-inp c-h-action">操作</div>
            </dt>
        </dl>
        <dl class="c-item cl">
            <dt class="cl">
                <div class="c-inp c-ico"><i onclick="catetree.menuClick(this);" class="fa"></i></div>
                <div class="c-inp c-id">46</div>
                <div class="c-inp c-paixu">
                    <input type="text" class="form-control" name="paixu" value="88" />
                </div>
                <div class="c-inp c-title">
                    <span class="c-sign"></span>
                    <i class="fa fa-plus-square"></i>
                    <div class="text-field">
                        <span class="text-title">标题:</span>
                        <input type="text" class="form-control" name="title" value="分类标题" />
                    </div>
                    <div class="text-field">
                        <span class="text-title">分组:</span>
                        <input type="text" class="form-control" value="group" />
                    </div>
                </div>
                <div class="c-inp c-action">
                    <a href="javascript:;" class="btn">编辑</a>
                    <a href="javascript:;" class="btn btn-warning">删除</a>
                </div>
            </dt>
            <!--sub menu start-->
            <dd class="c-sub-item">
                <dl class="c-item cl">
                    <dt class="cl">
                        <div class="c-inp c-ico"><i onclick="catetree.menuClick(this);" class="fa"></i></div>
                        <div class="c-inp c-id">46</div>
                        <div class="c-inp c-paixu">
                            <input type="text" class="form-control" name="paixu" value="88" />
                        </div>
                        <div class="c-inp c-title">
                            <span class="c-sign"></span>
                            <i class="fa fa-plus-square"></i>
                            <div class="text-field">
                                <span class="text-title">标题:</span>
                                <input type="text" class="form-control" name="title" value="分类标题" />
                            </div>
                            <div class="text-field">
                                <span class="text-title">分组:</span>
                                <input type="text" class="form-control" value="group" />
                            </div>
                        </div>
                        <div class="c-inp c-action">
                            <a href="javascript:;" class="btn">编辑</a>
                            <a href="javascript:;" class="btn btn-warning">删除</a>
                        </div>
                    </dt>
                    <!--sub menu start-->
                    <dd class="c-sub-item">
                        <dl class="c-item cl">
                            <dt class="cl">
                                <div class="c-inp c-ico"><i onclick="catetree.menuClick(this);" class="fa"></i></div>
                                <div class="c-inp c-id">46</div>
                                <div class="c-inp c-paixu">
                                    <input type="text" class="form-control" name="paixu" value="88" />
                                </div>
                                <div class="c-inp c-title">
                                    <span class="c-sign"></span>
                                    <i class="fa fa-plus-square"></i>
                                    <div class="text-field">
                                        <span class="text-title">标题:</span>
                                        <input type="text" class="form-control" name="title" value="分类标题" />
                                    </div>
                                    <div class="text-field">
                                        <span class="text-title">分组:</span>
                                        <input type="text" class="form-control" value="group" />
                                    </div>
                                </div>
                                <div class="c-inp c-action">
                                    <a href="javascript:;" class="btn">编辑</a>
                                    <a href="javascript:;" class="btn btn-warning">删除</a>
                                </div>
                            </dt>
                        </dl>
                        <dl class="c-item cl">
                            <dt class="cl">
                                <div class="c-inp c-ico"><i onclick="catetree.menuClick(this);" class="fa"></i></div>
                                <div class="c-inp c-id">46</div>
                                <div class="c-inp c-paixu">
                                    <input type="text" class="form-control" name="paixu" value="88" />
                                </div>
                                <div class="c-inp c-title">
                                    <span class="c-sign"></span>
                                    <i class="fa fa-plus-square"></i>
                                    <div class="text-field">
                                        <span class="text-title">标题:</span>
                                        <input type="text" class="form-control" name="title" value="分类标题" />
                                    </div>
                                    <div class="text-field">
                                        <span class="text-title">分组:</span>
                                        <input type="text" class="form-control" value="group" />
                                    </div>
                                </div>
                                <div class="c-inp c-action">
                                    <a href="javascript:;" class="btn">编辑</a>
                                    <a href="javascript:;" class="btn btn-warning">删除</a>
                                </div>
                            </dt>
                        </dl>
                    </dd>
                    <!--sub menu end-->
                </dl>
            </dd>
            <!--sub menu end-->
        </dl>
    </div>
</div>
<script type="text/javascript">
$(function() {
    catetree.init();
});
</script>
{/block}
