<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{:config('admin_title')}_管理平台</title>
<meta name="keywords" content="{:config('admin_title')}_管理平台" />
<meta name="description" content="{:config('admin_title')}_管理平台" />
{include file="pub/head" /}
</head>
<body>
	{include file="pub/header" /}
	{include file="pub/left" /}
	{include file="pub/right" /}
</body>
</html>