<link rel="stylesheet" type="text/css" href="__STATIC__/css/reset.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/admin-defaultcolor.css" />
<script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/mytab.js"></script>
<script type="text/javascript" src="__STATIC__/js/ank.js"></script>
<script type="text/javascript" src="__JS__/am.js"></script>
<script type="text/javascript" src="__STATIC__/js/file.js"></script>
<script type="text/javascript" src="__STATIC__/js/json2.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>