<div id="admin-header" class="admin-header">
    <div class="touxiang">
        <img src="__IMG__/touxiang.jpg">
    </div>
    <ul id="mainnav" class="mainnav cl">
        <li><a href="javascript:;" data-url="./data.php?a=leftmenu" onclick="am.loadLeftMenu(this);">首页</a></li>
        <li><a href="javascript:;" data-url="./data.php?a=leftmenu" onclick="am.loadLeftMenu(this);">文档</a></li>
        <li><a href="javascript:;" data-url="./data.php?a=leftmenu" onclick="am.loadLeftMenu(this);">产品</a></li>
        <li><a href="javascript:;" data-url="./data.php?a=leftmenu" onclick="am.loadLeftMenu(this);">文章</a></li>
        <li><a href="javascript:;" data-url="./data.php?a=leftmenu" onclick="am.loadLeftMenu(this);">用户</a></li>
        <li><a href="javascript:;" data-url="./data.php?a=leftmenu" onclick="am.loadLeftMenu(this);">系统</a></li>
        <li><a href="javascript:;" data-url="./data.php?a=leftmenu" onclick="am.loadLeftMenu(this);">扩展</a></li>
    </ul>
    <ul class="tool cl">
        <li><a href="javascript:;" title="(超级管理员),登陆地址:(127.0.0.1)本机地址">您好:爱你酷</a></li>
        <li><a href="javascript:;" target="_blank"><i class="fa fa-home"></i>查看网站</a></li>
        <li class="downmenu"><a href="javascript:;"><i class="fa fa-user"></i>个人信息</a>
            <ul class="pwdinfo">
                <li><a href="javascript:;" onclick="am.okAction('{:url('other/clearCache')}');" >清空缓存</a></li>
                <li><a href="javascript:;">修改密码</a></li>
                <li><a href="javascript:;" onclick="am.okAction('{:url('other/loginOut')}');" >退出系统</a></li>
            </ul>
        </li>
    </ul>
</div>
